<app-back style="float:left; margin: 50px, 50px, 30px, 30px;"></app-back>

<div style="margin-top: 50px;">
<div *ngIf="products" >
      <ul class="products">
          <li
            *ngFor="let product of products"
            [class.selected]="product === selectedProduct"
            routerLink="/change-quantity/{{ product.id }}">
            <span class="badge">{{ product.article }}</span> {{ product.name }}
            <a class="edit" routerLink="/edit-product/{{ product.id }}">
              <img src="assets/img/edit_mini.png" ngbTooltip="Изменить" />
            </a>
          </li>
        </ul>
      </div>
      <div *ngIf="notFound">
            <h2 style="margin: 22px">По вашему запросу "{{name}}" ничего не найдено</h2>
      </div>
    </div>
      