.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .products {
    margin: 0 0 1em 0;
    list-style-type: none;
    padding: 5;
    width: 25em;
  }
  .products li {
    cursor: pointer;
    position: relative;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .products li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .products li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .products .text {
    position: relative;
    top: -3px;
  }
  h2 {
    margin-bottom: 0;
    color: #5e72e4;
    font: 18 sans-serif;
  }
  .products .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#5e72e4;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  .products .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#5e72e4;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    min-width: 15px;
  }
  .edit {
    border-radius: 2px;
    float: right; 
    position: absolute;
    top:0;
    right:0;  
    opacity: 1;
    transition: scale(0.5, 0.5) 0.3s ease;
  }
  .edit:hover {  
    position: absolute;
    cursor: alias;  
    opacity: 1;
    transform: scale(1.5, 1.5);  
  }
  .module {
    padding: 4px;
    margin: 24px;
    text-align: center;
    color: #5e72e4;
    max-height: 120px;
    min-width: 100px;
     border-radius: 2px;
    position: relative;
    border: 2px solid #5e72e4;
    border-radius: 5px; 
  }
  .edit {
    border-radius: 2px;
    float: right; 
    position: absolute;
    top:0;
    right:0;  
    opacity: 1;
    transition: scale(0.5, 0.5) 0.3s ease;
  }
  .edit:hover {  
    position: absolute;
    cursor: alias;  
    opacity: 1;
    transform: scale(1.5, 1.5);  
  }
  .module:hover{
    position: relative;
    background-color: #5e72e4;
    cursor: pointer;
    color: #f8f8f8;
    border: 2px solid #5e72e4;
    border-radius: 5px; 
  }
  