/* You can add global styles to this file, and also import other style files */
/* Global Styles */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

* body {
  margin: 0;
  font-family: Prototype !important;
  color: rgb(30, 25, 95);
}
@font-face {
  font-family: 'Carolina';  
  src: url('./assets/font/carolina.ttf') format('truetype');
}
@font-face {
  font-family: "ManOfTomorrow";
  src: url('./assets/font/ManOfTomorrow.ttf') format('truetype');
}
@font-face {
  font-family: 'Prototype';
  src: url('./assets/font/Prototype.ttf') format('truetype');
}
.container {
  display: flex;
  flex-direction: row;
}
.compFlex {
    
  display: flex;
      flex-direction: column;
    }
        
  .compFlex > *:not(:last-child) {
      margin-bottom: 32px;
    }

router-outlet + * {
  padding: 30px;
}
.title {
  font-family: Carolina !important;
  font-size: 58px;
  text-shadow: 3px 3px 3px rgb(151, 150, 216);
}
.Bb-label {
  font-family: ManOfTomorrow !important;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 50px;
  display: block;
  text-transform: none;
}
.input-violet {
  border: 2px solid #5e72e4;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px; 
}

.div-violet{
  border: 2px solid #5e72e4; 
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  align-content: center;
  padding: 20px;
}
.button-violet{
  margin-top: 50px;
  border: 2px solid #5e72e4;
  border-radius: 5px;
  background-color: #fffefe;
  color: #6d6bf5;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-content: center;
}
.button-violet:hover:enabled {
  border: 2px solid #5e72e4;
  background-color: #5e72e4;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
}
.button-red{
  margin-top: 50px;
  margin-left: 30px;
  border: 2px solid #dd4a4a;
  border-radius: 5px;
  background-color: #fffefe;
  color: #dd4a4a;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-content: center;
}
.button-red:hover:enabled {
  border: 2px solid #dd4a4a;
  background-color: #dd4a4a;
  color: #fffdfd;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
}
/* Text */
h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
  font-family: ManOfTomorrow !important;
}

h5 {
  font-size: 14px;
  position: relative;
  font-family: ManOfTomorrow !important;
}

h1,
h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #5e72e4;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #bdbdbd;
  font-family: Prototype !important;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
  font-family: Prototype !important;
}



/* Button */
.button,
button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #5e72e4;
  color: white;
  border: none;
  font-family: ManOfTomorrow !important;
}

.button:hover,
button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #5e72e4;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

/*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */
