<div *ngIf="error" class="row justify-content-center">
    <div class="col-md-8 text-center">
          <div class="alert alert-warning" role="alert">
            Опаньки, что-то пошло не туда <a routerLink="/login">Попробовать еще раз</a>.
          </div>
    </div>
</div>