<app-back style="float:left;margin-top:0px;"></app-back>
<div *ngIf="product">
 
    <div class="div-violet" style="margin-left:70px;margin-top:0px;">
      <label>Наименование</label>
      <input
        class="input-violet" required #name="ngModel"
        [(ngModel)]="product.name"/>
     
      <label>Артикль</label>
      <input class="input-violet" type="number" min="1" required #article="ngModel" [(ngModel)]="product.article"/>
     
      <label>Цена</label>
      <input class="input-violet" type="number" min="0" required #cost="ngModel" [(ngModel)]="product.cost"/>
   
      <label>Расположение</label>
      <input class="input-violet" required #location="ngModel" [(ngModel)]="product.location"/>     
      <div>
      <button class="button-violet" [disabled]="name.invalid ||  article.invalid || cost.invalid || location.invalid" (click)="save()">Сохранить</button>
      <button class="button-red" (click)="delete()">Удалить</button>
    </div>
  </div>
</div>