
<app-product-search style="float:right; margin: 10px 10px 20px 20px"></app-product-search>

<h2 style="margin-left: 400px; margin-right: 400px;">Все Категории</h2>
<div class="grid grid-pad" style="margin-left: 30px;">
  <a *ngFor="let category of categories" class="col-1-3"
      routerLink="/products/{{category.id}}">
    <div class="module category">
        <a class="edit"  routerLink="/edit-category/{{category.id}}">
          <img src="assets/img/edit_mini.png" ngbTooltip="Изменить"/>       
        </a>        
      <h5>{{category.name}}</h5>
    </div>
  </a>
  <a class="col-1-3"  routerLink="/new-category">
    <div class="module category">
      <img src="assets/img/add.png" ngbTooltip="Пройти в категорию"/>
    </div>
  </a>
</div>