[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
  align-items: center;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 
h3 {
  text-align: center;
  margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: rgb(242, 244, 247);
  max-height: 120px;
  min-width: 120px;
  background-color: rgb(30, 25, 95);
  border-radius: 2px;
  position: relative;
  border: 2px solid rgb(30, 25, 95);
  border-radius: 5px; 
}
.edit {
  border-radius: 2px;
  float: right; 
  position: absolute;
  top:0;
  right:0;  
  opacity: 1;
  transition: scale(0.5, 0.5) 0.3s ease;
}
.edit:hover {  
  position: absolute;
  cursor: alias;  
  opacity: 1;
  transform: scale(1.5, 1.5);  
}
.module:hover{
  position: relative;
  background-color: #f8f8f8;
  cursor: pointer;
  color: #5e72e4;
  border: 2px solid #5e72e4;
  border-radius: 5px; 
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}