<app-back style="float:left;margin-top:0px;"></app-back>
<div *ngIf="category">
 
        <div class="div-violet" style="margin-left:70px;margin-top:0px;">
          <label>Наименование</label>
          <input class="input-violet" required #pName="ngModel" [(ngModel)]="name"/>
         
          <label>Артикль</label>
          <input class="input-violet" type="number" min="1" required #pArticle="ngModel" [(ngModel)]="article"/>
         
          <label>Цена</label>
          <input class="input-violet" type="number" min="0" required #pCost="ngModel" [(ngModel)]="cost"/>
       
          <label>Расположение</label>
          <input class="input-violet" required #pLocation="ngModel" [(ngModel)]="location" />     
          <div>
          <button class="button-violet" 
          [disabled]="pName.invalid || pArticle.invalid || pCost.invalid || pLocation.invalid" 
          (click)="save(pName.value, pArticle.value, pCost.value, pLocation.value);">Добавить</button>
         </div>
      </div>
</div>