<app-back style="float:left;margin-top:0px;"></app-back>
<div *ngIf="product"> 
        <div class="div-violet" style="margin-left:70px;margin-top:0px;">
          <div *ngIf="product" style="margin-bottom: 30px;">
           <h2 style="font-size: 14px;">Артикль № {{product.article}}</h2>
          <h2 style="color:cornflowerblue">{{product.name}}</h2>          
          <label style="color:#ce93d8; font-size: 14;margin-bottom:40px;">Количество на складе = {{product.quantity}}</label>
        </div>          
          <label>Номер счет-фактуры</label>
          <input style="margin-bottom:20px;" class="input-violet"  required #number="ngModel" [(ngModel)]="invoice.number"/>
       
          <label>Дата</label>
          <input style="margin-bottom:20px;" class="input-violet" type="date" required #createDate="ngModel" [(ngModel)]="invoice.createDate"/>

          <label>Количество товара в счет-фактуре</label>
          
          <input class="input-violet" type="number" style="margin-bottom:20px;"  required #quantity/>
         
          <div>
          <button class="button-violet" [disabled]="quantity.invalid ||  number.invalid || createDate.invalid" 
            (click)="save(quantity.value)">Сохранить</button> 
       
      </div>
      </div>
    </div>