input, label {
    display:block;
}
  .content {
    box-sizing: border-box;
    padding: 20px;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
  }