<app-back style="float:left;"></app-back>
<div class="div-violet"style="margin-left:70px;margin-top:10px;">
  <label>Наименование Категории</label>
  <input class="input-violet" [ngModel]="name" required #myCategory="ngModel" />
  <button [disabled]="myCategory.invalid" class="button-violet" (click)="save(myCategory.value);">
    Добавить
  </button>
</div>
