.active-purple-2 input[type="text"]:focus:not([readonly]) {
  border: 1px solid #ffffff;
  border-bottom: 1px solid #5e72e4;
  box-shadow: 0 1px 0 0 #5e72e4;
}

.active-purple input[type="text"] {
  outline: none;
  border: 1px solid #ffffff;
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-purple .fa,
.active-purple-2 .fa {
  color: #ce93d8;
  display: flex;
}
textarea,
input[type="text"] {
  border: 1px solid #ffffff;
  width: 250px;
  color: #5e72e4
}
textarea:focus,
input:focus {
  outline: none;
}
::placeholder {
  color: #ce93d8;
  opacity: 1; /* Firefox */
}
