<form class="form-inline md-form form-sm active-purple active-purple-2">      
    <i class="fas fa-search" aria-hidden="true"></i>   
    <div style="display: flex;">        
         <img src="assets/img/search_mini.png" style="height: 33px; width: 34px; margin-top: 7px"/>
        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Поиск товара" aria-label="Поиск товара"
          mdbInput #text (keyup.enter)="onSearch(text.value)">
        </div>
      </form>
