<div class="container">
       
    <div class="container-login100-form-btn" >  
        <label class="Bb-label">Чтобы продолжить, необходимо</label>     
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" style="font-size: 20px" (click)="login()">Войти в систему
            </button>
        </div>
    </div>
</div>