<app-back style="float:left;margin-top:0px;"></app-back>
<div *ngIf="category">
    <div>
<div class="div-violet" style="margin-left:70px;margin-top:0px;">
  <label>Наименование Категории</label>
    <input
      class="input-violet" required maxlength="200" id="name"
      [(ngModel)]="category.name"
      placeholder="Наименование Категории" #myCategory="ngModel" style="margin-left:20px;" />
  
  <div>
    <button class="button-violet" [disabled]="myCategory.invalid" (click)="save()">Сохранить</button>
    <button class="button-red" (click)="delete()">Удалить</button>
  </div>
</div>
</div>
</div>