<app-product-search style="float:right; margin: 10px 10px 20px 20px"></app-product-search>
<app-back style="float:left; margin: 50px, 50px, 30px, 30px;"></app-back>

<div *ngIf="category">
  <h2 style="text-align:  center; margin-bottom: 100px; ">Категория {{ category.name }}</h2>
  <a class="col-1-3"  routerLink="/new-product/{{category.id}}" >
    <div class="module product" style="width: 250px" style="display: flex; font-family: ManOfTomorrow !important; width: 275px; padding-left: 100px; padding-right: 10px;">
      <img src="assets/img/add_mini.png" style="margin-right: 5px"/>
      Добавить товар
    </div>
  </a>
  <ul class="products">
    <li
      *ngFor="let product of products"
      [class.selected]="product === selectedProduct"
      routerLink="/change-quantity/{{ product.id }}">
      <span class="badge">{{ product.article }}</span> {{ product.name }}
      <a class="edit" routerLink="/edit-product/{{ product.id }}">
        <img src="assets/img/edit_mini.png" ngbTooltip="Изменить" />
      </a>
    </li>
  </ul>
</div>
